doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title PPML Workshop 2023 - Co-located with IEEE TPS 2023

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container.px-4
                a.navbar-brand(href='#page-top') PPML 2023
                button.navbar-toggler(type='button' data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#calls') Calls
                        li.nav-item
                            a.nav-link(href='#organization') Organization

        // Header
        header.bg-primary.bg-gradient.text-white
            .container.px-4.text-center
                h1.fw-bolder The 2023 International Workshop on 
                h1.fw-bolder Privacy-Preserving Machine Learning
                h3 
                    | Co-located with 
                    a(href='https://www.sis.pitt.edu/lersais/conference/tps/2023/' target='_blank') 
                        strong IEEE TPS 2023
                h4
                    | (November 1-3, 2023. Atlanta, Georgia, USA)
                //- a.btn.btn-lg.btn-light(href='#about') Start scrolling!

        section#about
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 About 
                        p
                            | The primary purpose of the workshop is to strengthen collaborations between the communities of machine learning and security and privacy. The workshop will bring together experts from both areas to discuss and exchange ideas on privacy-preserving techniques for training, inference, and disclosure. The event consists of invited talks and contributed papers focused on privacy-aware data analysis. We believe that the workshop will provide an opportunity for researchers to come up with innovative solutions to the challenges of privacy-aware machine learning and facilitate cross-domain collaboration between researchers.
                        p 
                            | Specific topics of interest for the workshop include (but are not limited to) theoretical and empirical works in:
                        ul
                            li Privacy enhancing technologies for (distributed) machine learning
                                ul 
                                    li multi-party computation based on conventional garbled circuits, secret sharing, etc.  
                                    li advanced cryptographic primitives, e.g., homomorphic encryption, functional encryption.
                                    li differential privacy
                                    li privacy-preserving oriented architecture design
                            li Privacy-preserving federated learning
                                ul
                                    li attack and defense to both horizontal and vertical FL
                                    li asynchronous problem in PPFL
                                    li effectiveness problem in vertical FL
                            li Adversarial machine learning
                            li Fairness and accountability for machine learning
                            li Measurement and usability for privacy-preserving machine learning
        section#keynote.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Invited Talk 
                        h6 (Co-Keynote with IEEE TPS)
                        h4 Can Federated Learning be Responsible?
                        h6 
                            a(href='', target='_blank') Prof. Ling Liu
                            em Georgia Institute of Technology, USA
                        p.talk-abs
                            strong Abstract:
                            | Federated learning (FL) is an emerging distributed collaborative learning paradigm by decoupling the learning task from the centralized server to a decentralized population of edge clients. An attractive feature of federated learning is its default client privacy, allowing clients to jointly learn a global model while keeping their sensitive training data locally and only share local model updates with the federated server(s). However, FL may not guarantee responsible distributed learning. First, clients are heterogeneous with diverse computing resources, which may prevent thin clients with less resources to participate in federated learning. Second, recent studies have revealed that the default privacy in FL is insufficient for protecting the confidentiality of clients’ training data and the safety of the global model. Finally, federated learning is vulnerable to trojan attacks, which may poison both data and the local model updates. This keynote will describe model leakage risks and model poisoning risks in distributed collaborative learning systems, ranging from image understanding, video analytics, to large language models (LLMs), and provide insights for risk mitigation methods and techniques, ensuring responsible Federated Learning.
                        .row 
                            .col-md-3
                                img(src="assets/LingLiu.jpeg", class="img-fluid")
                            .col-md-9
                                p.talk-bio
                                    strong Bio:
                                    | Ling Liu is a Professor in the School of Computer Science at Georgia Institute of Technology. She directs the research programs in the Distributed Data Intensive Systems Lab (DiSL), examining various aspects of large scale big data-powered artificial intelligence (AI) systems, and machine learning (ML) algorithms and analytics, including performance, availability, privacy, security and trust. Prof. Liu is an elected IEEE Fellow, a recipient of IEEE Computer Society Technical Achievement Award (2012), and a recipient of the best paper award from numerous top venues, including IEEE ICDCS, WWW, ACM/IEEE CCGrid, IEEE Cloud, IEEE ICWS. Prof. Liu served on editorial board of over a dozen international journals, including the editor in chief of IEEE Transactions on Service Computing (2013-2016), and the editor in chief of ACM Transactions on Internet Computing (since 2019). Prof. Liu is a frequent keynote speaker in top-tier venues in Big Data, AI and ML systems and applications, Cloud Computing, Services Computing, Privacy, Security and Trust of data intensive computing systems. Her current research is primarily supported by USA National Science Foundation under CISE programs, IBM and CISCO.


        section#calls
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Call for Contribution
                        p
                            | We seek contributions from different research areas of computer science, information science, and information security. 
                        p
                            | Authors are invited to submit a short paper of their work. 
                            | Submissions are single-blind (non-anonymized) and should between 6 to 8 pages in the standard two column 
                            a(href='https://www.ieee.org/conferences_events/conferences/publishing/templates.html' target='_blank') IEEE proceedings format
                                i.bi.bi-box-arrow-up-right.small-icon
                            | .
                            | Submissions will undergo a lightweight review process and will be judged on originality, relevance, interest, and clarity. 
                            | Accepted workshop paper will be presented at the workshop co-located with the joint conference either as a talk or a poster. 
                            | The proceedings of the workshop will be co-located with the joint-conference and published by the IEEE.
                        p 
                            strong
                                i.bi.bi-arrow-right-circle 
                                | submit your work at
                                a(href='https://easychair.org/conferences/?conf=ppml23' target='_blank') easychair
                                    i.bi.bi-box-arrow-up-right.small-icon
                        p 
                            strong 
                                i.bi.bi-arrow-right-circle 
                                | submissions deadline: Sept.15, 2023



        section#organization.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2  Organization
                            i.small-font (by alphabetical order of surname)
                        p.organizer
                            i.bi.bi-person-circle
                            a(href='https://khchow.com/' target='_blank') 
                                strong Ka-Ho Chow
                        p.affiliation IBM Reserch - Almaden

                        p.organizer
                            i.bi.bi-person-circle
                            a(href='http://www.lichao.work/' target='_blank') 
                                strong Chao Li 
                        p.affiliation School of Computer and Information Technology, Beijing Jiaotong University
                        
                        p.organizer 
                            i.bi.bi-person-circle
                            a(href='https://yanzhaowu.me/' target='_blank') 
                                strong Yanzhao Wu 
                        p.affiliation Knight Foundation School of Computing and Information Sciences, Florida International University
                        p.organizer
                            i.bi.bi-person-circle
                            a(href='https://runhua.me/' target='_blank') 
                                strong Runhua Xu 
                        p.affiliation School of Computer Science and Engineering, Beihang University
                        
                        p.organizer
                            i.bi.bi-person-circle
                            a(href='https://tarpelite.github.io/' target='_blank') 
                                strong Tianyu Chen
                            i.affiliation (Student Volunteer, Ph.D. Candidate)
                        p.affiliation School of Computer Science and Engineering, Beihang University
                        

        // Footer
        footer.py-5.bg-dark
            .container.px-4
                p.m-0.text-center.text-white Copyright &copy; PPML Workshop 2023

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')